.git

**/riderModule.iml
**/_ReSharper.Caches/
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.vs

Dependencies/BepInEx/*
Dependencies/BTHarmonyUtils/*
Dependencies/ElseHeartBreak/*
!Dependencies/BepInEx/README.md
!Dependencies/BTHarmonyUtils/README.md
!Dependencies/ElseHeartBreak/README.md

**/bin/
**/obj/
**/packages/

ReleaseBuilder/*/*
!ReleaseBuilder/*/*.bat