.git

**/riderModule.iml
**/_ReSharper.Caches/
**/.idea/workspace.xml
**/.idea/tasks.xml

Dependencies/BepInEx/*
Dependencies/BTHarmonyUtils/*
Dependencies/ElseHeartBreak/*
!Dependencies/BepInEx/README.md
!Dependencies/BTHarmonyUtils/README.md
!Dependencies/ElseHeartBreak/README.md

Mods/*/bin/
Mods/*/obj/
Mods/*/packages/